.container {
  width: 500px;
  height: 600px;
  box-shadow: 0px 0px 10px gray;
  background-color: gray;
  margin: auto;
  padding: 10px;
  box-shadow: 0px 0px 10px gray;
}
.transaction-container input {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  box-shadow: 0px 0px 5px white;
}
.transaction-container button {
  margin-top: 10px;
  width: 100%;
}
.transaction-container {
  padding: 10px;
}
.expense_container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin: 0 10px;
  box-shadow: 0px 0px 5px white;
}
h1 {
  text-align: center;
  margin-top: 5px;
}
h3 {
  margin: 10px;
}
ul{
  margin: 0px 10px;
  padding: 5px;
}
ul li {
  display: flex;
  margin-top: 5px;
  padding: 5px;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 0px 5px white;
}
button {
  box-shadow: 0px 0px 5px white;
}