<%- include('Navbar') %>

<form>
    <h1>Registration Form</h1>
    <h3>First Name</h3>
    <input type="text" placeholder="Firstname">
    <h3>Last Name</h3>
    <input type="text" placeholder="Lastname">
    <h3>Email</h3>
    <input type="text" placeholder="Email">
    <label for="formFileDisabled" class="form-label">Disabled file input example</label>
    <input class="form-control" type="file" id="formFileDisabled" disabled />
    <br/>
    <br/>
    <button type="button" class="btn btn-primary">Register</button>
</form>