body{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
    background-color: lightblue;
    padding: 10px;
}
li{
    color: lightgreen;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}